Hemologica-Service/src/main/resources/xsd/cda.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <xs:element xmlns:urn="urn:hl7-org:v3" name="ClinicalDocument" type="urn:ClinicalDocumentType"/>
  <xs:complexType name="typeIdType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="root"/>
        <xs:attribute type="xs:string" name="extension"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="templateIdType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="root" use="optional"/>
        <xs:attribute type="xs:string" name="extension" use="optional"/>
        <xs:attribute type="xs:string" name="assigningAuthorityName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="idType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="root" use="optional"/>
        <xs:attribute type="xs:string" name="extension" use="optional"/>
        <xs:attribute type="xs:string" name="assigningAuthorityName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="codeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="codeSystem" use="optional"/>
        <xs:attribute type="xs:string" name="codeSystemName" use="optional"/>
        <xs:attribute type="xs:long" name="code" use="optional"/>
        <xs:attribute type="xs:string" name="displayName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="effectiveTimeType" mixed="true">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:lowType" name="low" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:highType" name="high" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="value" use="optional"/>
  </xs:complexType>
  <xs:complexType name="confidentialityCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="codeSystemName"/>
        <xs:attribute type="xs:string" name="code"/>
        <xs:attribute type="xs:string" name="codeSystem"/>
        <xs:attribute type="xs:string" name="displayName"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languageCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="telecomType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="use" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element type="xs:string" name="prefix" minOccurs="0"/>
      <xs:element type="xs:string" name="given" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="family" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrativeGenderCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="code"/>
        <xs:attribute type="xs:string" name="displayName"/>
        <xs:attribute type="xs:string" name="codeSystem"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="birthTimeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> Identificador del paciente  El root 2.16.858.1.858.68909.12345678 - C&#xF3;digo CI = 68909 - CI = 12345678   asocia el identificador de persona definido por la UNAOID, no es necesario incorporar la extensi&#xF3;n.  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:nameType" name="name">
        <xs:annotation>
          <xs:documentation> Nombres y Apellidos </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:administrativeGenderCodeType" name="administrativeGenderCode"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:birthTimeType" name="birthTime"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode"/>
    <xs:attribute type="xs:string" name="determinerCode"/>
  </xs:complexType>
  <xs:complexType name="patientRoleType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> OID HEMOLOGICA-HCE = 2.16.858.0.0.1.10.2.3.1.1.2  N&#xFA;mero de historia del paciente en Hemologica - </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:telecomType" name="telecom" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Telefono y MAil  HP: Primary home WP: Work Place </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:patientType" name="patient"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode"/>
  </xs:complexType>
  <xs:complexType name="recordTargetType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:patientRoleType" name="patientRole"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeCode"/>
    <xs:attribute type="xs:string" name="contextControlCode"/>
  </xs:complexType>
  <xs:complexType name="timeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="assignedPersonType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:nameType" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="representedOrganizationType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignedAuthorType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> Identificador del profesional de la salud.  El root 2.16.858.2.10000675.69586 identifica al registro de Profesionales (provisto por SNIS), en extensi&#xF3;n se encuentra el n&#xFA;mero de habilitaci&#xF3;n del profesional  En caso de no aplicar deber&#xE1; utilizarse el identificador de persona definido por la UNAOID, sin extensi&#xF3;n. &lt;id root="2.16.858.1.858.68909.12345678"/&gt;  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:assignedPersonType" name="assignedPerson"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:representedOrganizationType" name="representedOrganization"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode"/>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:timeType" name="time"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:assignedAuthorType" name="assignedAuthor"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeCode"/>
    <xs:attribute type="xs:string" name="contextControlCode"/>
  </xs:complexType>
  <xs:complexType name="representedCustodianOrganizationType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> OID de Hemologica  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignedCustodianType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:representedCustodianOrganizationType" name="representedCustodianOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custodianType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:assignedCustodianType" name="assignedCustodian"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trType">
    <xs:sequence>
      <xs:element type="xs:string" name="th" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:tdType" name="td" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID" use="optional"/>
  </xs:complexType>
  <xs:complexType name="theadType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:trType" name="tr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tdType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tbodyType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:trType" name="tr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:theadType" name="thead"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:tbodyType" name="tbody"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:tableType" name="table"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statusCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="lowType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="highType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="specimenPlayingEntityType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:codeType" name="code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specimenRoleType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:specimenPlayingEntityType" name="specimenPlayingEntity" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode" use="optional"/>
  </xs:complexType>
  <xs:complexType name="specimenType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:specimenRoleType" name="specimenRole"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeCode" use="optional"/>
  </xs:complexType>
  <xs:complexType name="observationType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id" minOccurs="0">
        <xs:annotation>
          <xs:documentation> C&#xF3;digo de identificacion unica de la prueba.  C&#xF3;digo de identificacion unica de la prueba. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:codeType" name="code">
        <xs:annotation>
          <xs:documentation> Motivo del Rechazo  C&#xF3;digo Snomed Ct de la prueba del laboratorio.  C&#xF3;digo Snomed Ct de la prueba del laboratorio.  252314007 - prueba de transfusi&#xF3;n sangu&#xED;nea 252314007 - prueba de transfusi&#xF3;n sangu&#xED;nea</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:statusCodeType" name="statusCode" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:effectiveTimeType" name="effectiveTime" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:valueType" name="value" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Rechazo Transitorio o Permanenet 
                                        6934004 permanente (calificador)  Si es transitorio por cuanto tiempo.  Resultado  Resultado </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:interpretationCodeType" name="interpretationCode" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:entryRelationshipType" name="entryRelationship" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> EVENTOS ADVERSOS SI CORRESPONDE  Analisis PreTransfusionales </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode" use="optional"/>
    <xs:attribute type="xs:string" name="moodCode" use="optional"/>
  </xs:complexType>
  <xs:complexType name="entryRelationshipType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:observationType" name="observation">
        <xs:annotation>
          <xs:documentation> Grupo Sangu&#xED;neo  Rechazo de Donacion  observation vs act vs procedure: http://www.cdapro.com/know/27081  ENV: already took place</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeCode" use="optional"/>
  </xs:complexType>
  <xs:complexType name="valueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="code" use="optional"/>
        <xs:attribute type="xs:string" name="codeSystem" use="optional"/>
        <xs:attribute type="xs:string" name="displayName" use="optional"/>
        <xs:attribute type="xs:string" name="codeSystemName" use="optional"/>
        <xs:attribute type="xs:byte" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="procedureType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:templateIdType" name="templateId" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id" minOccurs="0">
        <xs:annotation>
          <xs:documentation> identificador de la donaci&#xF3;n realizada </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:codeType" name="code">
        <xs:annotation>
          <xs:documentation> c&#xF3;digo de SNOMED-CT del tipo de donaci&#xF3;n realizada </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:statusCodeType" name="statusCode">
        <xs:annotation>
          <xs:documentation> &#x201C;cancelled&#x201C; - The Act has been abandoned before activation. (No Efectuada)
                                 &#x201C;completed&#x201D; - An Act that has terminated normally after all of its constituents have been performed. (Efectuada) 
                                 Fuente - http://www.cdapro.com/know/25035 </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:effectiveTimeType" name="effectiveTime">
        <xs:annotation>
          <xs:documentation> Hora de la donacion </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:specimenType" name="specimen" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                          entryRelationShip (http://www.cdapro.com/know/25043)
                          typeCode:
                                    -CAUS: the source caused the target
                                    -COMP: the target is a component of the source
                                    -GEVL: the source observation evaluates the target goal
                                    -MFST: the source is a manifestation of the target
                                    -REFR: the source and target have an undefined realtionship
                                    -RSON: the target is the reason/rationale of the source
                                    -SAS: the source starts after the target
                                    -SPRT: the target provides supporting evidence for the source
                                    -SUBJ: the target is the subject of the source
                                    -XCRPT: the source is excerpted from the target
                      
                       OID HEMOLOGICA-Muestra-Donaciones = 2.16.858.0.0.1.10.2.3.1.1.4  Identificador de la muestra extra&#xED;da </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:entryRelationshipType" name="entryRelationship" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="moodCode"/>
    <xs:attribute type="xs:string" name="classCode"/>
  </xs:complexType>
  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:procedureType" name="procedure" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Procedures should be used for care that directly changes the patient's physical state.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:observationType" name="observation" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:organizerType" name="organizer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interpretationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="code" use="optional"/>
        <xs:attribute type="xs:string" name="codeSystem" use="optional"/>
        <xs:attribute type="xs:string" name="codeSystemName" use="optional"/>
        <xs:attribute type="xs:string" name="displayName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:observationType" name="observation" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Sifilis     &lt;interpretationCode code="N" codeSystem="2.16.840.1.113883.5.83"/&gt;  Hepatitis C     &lt;interpretationCode code="N" codeSystem="2.16.840.1.113883.5.83"/&gt; </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:sectionType" name="section" minOccurs="0">
        <xs:annotation>
          <xs:documentation> ANALISIS PRE TRANSFUSIONALES </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:structuredBodyType" name="structuredBody" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="organizerType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> C&#xF3;digo de identificacion de las pruebas realizadas. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:statusCodeType" name="statusCode"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:effectiveTimeType" name="effectiveTime"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:specimenType" name="specimen">
        <xs:annotation>
          <xs:documentation> OID HEMOLOGICA-Muestra-Donaciones = 2.16.858.0.0.1.10.2.3.1.1.4  id Muestra </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:componentType" name="component" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode"/>
    <xs:attribute type="xs:string" name="moodCode"/>
  </xs:complexType>
  <xs:complexType name="sectionType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:codeType" name="code">
        <xs:annotation>
          <xs:documentation> Codigo del Procedimiento.
                        42736004 - recolecci&#xF3;n de unidad de sangre para autotransfusi&#xF3;n (procedimiento)
                        1788001  - recolecci&#xF3;n de unidad de sangre para donaci&#xF3;n dirigida, donante (procedimiento)
                        Generico = 25179006 recolecci&#xF3;n de unidad de sangre (procedimiento) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="title" minOccurs="0">
        <xs:annotation>
          <xs:documentation>  ********************************************************    Representacion Grafica  ********************************************************  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:textType" name="text" minOccurs="0"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:entryType" name="entry" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>  ********************************************************    Resultados  ********************************************************   Eventos adversos </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="structuredBodyType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:componentType" name="component" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClinicalDocumentType">
    <xs:sequence>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:typeIdType" name="typeId">
        <xs:annotation>
          <xs:documentation> OID HEMOLOGICA = 2.16.858.0.0.1.10.2.3.1.1  OID HEMOLOGICA-CDA = 2.16.858.0.0.1.10.2.3.1.1.1  OID HEMOLOGICA-HCE = 2.16.858.0.0.1.10.2.3.1.1.2   ********************************************************    CDA Header  ********************************************************   Estructura fija que referencia al esquema del CDA normativo del HL7 contra el que se valida el xml: </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:templateIdType" name="templateId">
        <xs:annotation>
          <xs:documentation> Puede no ir creo </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:idType" name="id">
        <xs:annotation>
          <xs:documentation> C&#xF3;digo que identifica de forma unica el documento - OID es HEMOLOGICA-CDA y extension un numero generado por hemologica </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:codeType" name="code">
        <xs:annotation>
          <xs:documentation> Identificaci&#xF3;n del tipo de documento  El c&#xF3;digo que se encuentra en esta etiqueta, corresponde a un procedimiento. Hay que ver si es correcto utilizarlo </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="title"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:effectiveTimeType" name="effectiveTime">
        <xs:annotation>
          <xs:documentation> Fecha en que se genero el documento </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:confidentialityCodeType" name="confidentialityCode">
        <xs:annotation>
          <xs:documentation> confidencialidad - N(normal) - R (restringido) - V (muy restringido)  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:languageCodeType" name="languageCode"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:recordTargetType" name="recordTarget">
        <xs:annotation>
          <xs:documentation> &lt;languageCode code="UY" codeSystem="2.16.840.1.113883.6.121"/&gt; </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:authorType" name="author"/>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:custodianType" name="custodian">
        <xs:annotation>
          <xs:documentation> Organizaci&#xF3;n  que  est&#xE1;  a  cargo  de  la conservaci&#xF3;n del  documento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:urn="urn:hl7-org:v3" type="urn:componentType" name="component">
        <xs:annotation>
          <xs:documentation>  ********************************************************    CDA Body  ********************************************************   &lt;nonXMLBody&gt;
            &lt;text&gt;
                &lt;reference value="http://img.docstoccdn.com/thumb/orig/50463157.png"/&gt;
            &lt;/text&gt;
        &lt;/nonXMLBody&gt; </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="classCode"/>
    <xs:attribute type="xs:string" name="moodCode"/>
  </xs:complexType>
</xs:schema>
